<div class="home">
  <section class="intro">
    <h1>Crea tu negocio desde 0</h1>
    <p>
      Con especialistas y expertos en la cocina, podras abrir tu negocio con
      los conocimientos de las personas que ya tienen su propio negocio.
    </p>
    <%= link_to 'COMIENZA AHORA', courses_path , class: 'btn' %>
  </section>
</div>
