<div class="home">
  <header>
    <nav>
      <ul>
        <li class="small">
          <a href="#">Cursos</a>
        </li>
        <li class="small">
          <a href="#">Tus cursos</a>
        </li>
        <li class="big">
          <a href="#">Registrate</a>
        </li>
        <li class="big">
          <a href="#">Iniciar Sesión</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="intro">
      <h1>Crea tu negocio desde 0</h1>
      <p>
        Con especialistas y expertos en la cocina, podras abrir tu negocio con
        los conocimientos de las personas que ya tienen su propio negocio.
      </p>
      <a href="#" class="btn">COMIENZA AHORA</a>
    </section>
  </main>
</div>
