table {
  font-size: 1.4rem;
  margin-bottom: 20px;
  width: 100%;

  .th-date,
  .th-total {
    span {
      margin-right: 10px;
    }

    a {
      color: white;

      &:hover {
        color: gray;
      }
    }
  }

  tr,
  td,
  th {
    padding-bottom: 8px;
    border-bottom: 1px solid white;
  }
}
