.admin-aside {
  padding: 80px 20px;
  width: 30%;
  max-width: 300px;
  background-color: rgb(46, 46, 46);
  min-height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.aside-content {
  height: 80%;
  max-height: 500px;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: space-between;

  header,
  section {
    border-bottom: 1px solid ghostwhite;
  }

  .option {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 50px;
    color: white;
  }

  .option p {
    font-size: 1.6rem;
    margin: 0;
  }

  .option img {
    max-height: 70%;
  }
}
