<main class="courses-index">
  <%= render "partials/admin-nav" %>
  <h2>Cursos disponibles</h2>
  <div id="courses" class="courses-list">
    <% @courses.each do |course| %>
      <%= link_to course do %>
        <%= render course %>
      <% end %>
    <% end %>
  </div>
</main>
