<main class="courses-index">
  <header>
    <h2>Cursos disponibles</h2>
    <%= render 'partials/searcher', path: courses_path %>
  </header>
  <% if @courses.length > 0 %>
    <div id="courses" class="courses-list">
      <% @courses.each do |course| %>
        <div>
          <%= render course %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="disclaimer">
      <h2>Sin cursos disponibles</h2>
    </div>
  <% end %>
</main>
