<main class="courses-index">
  <header>
    <h2>Mis cursos</h2>
    <%= render 'partials/searcher', path: my_courses_path %>
  </header>
  <% if @courses.length > 0 %>
    <div id="courses" class="courses-list">
      <% @courses.each do |course| %>
        <%= link_to course do %>
          <%= render course %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="disclaimer">
      <h2>Sin cursos disponibles</h2>
    </div>
  <% end %>
</main>
