<div class="admin-container courses-create-container">
  <%= render "partials/admin-aside" %>
  <div class="courses-create">
    <h1>Crear nuevo curso</h1>
    <%= render "form", course: @course %>
    <div>
      <%= link_to "Back to courses", courses_path %>
    </div>
  </div>
</div>
