<div class="admin-container courses-create-container">
  <%= render "partials/admin-aside" %>
  <main class="admin-content">
    <%= render "partials/admin-nav" %>
    <div class="classes-create">
      <h1>Crear nuevo curso</h1>
      <%= render "form", course: @course %>
    </div>
  </main>
</div>
